/*
	NAVBAR
*/
.navbar-dark.bg-dark {background-color: black !important;}
/*
	GENERAL
*/
:root {
	--color-background: #131419;
	--color-font-grey-light: #c7c7c7;
	--color-font-grey-normal: #868686;
	--color-font-grey-dark: #555555;
	--color-font-blue-light: #03a9f4;
	--color-font-blue-normal: #006c9c;
	--color-font-blue-dark: #00407a;
	--color-font-green-light: #2fc6b7;
	--color-font-green-dark: #17635b;
	--color-font-green-darkRGBA: rgba(23, 99, 91, 0.5);
}
* {font-family: 'Poppins', sans-serif;}
body {
	min-height: 100vh;
	color: white;
	background-color: var(--color-background) !important;
}
.modal-content {
	background-color: var(--color-background);
	border-radius: 40px;
}
.pictureModal-card, .commentModal-card {background-color: var(--color-background); border: transparent;}
.modal-backdrop.show {opacity: 1;}
.pictureModal-dialog {min-width: 95vw;}
.pictureModal-picture {width: 100%; object-fit: scale-down;}
.pictureModal-content {width: 100%;}
.pictureModal-newComment {padding: 0 20px;}
@media (min-width: 80vh) {.pictureModal-picture {width: 80vh; max-height: 80vh;}}
@media (min-width: calc(80vh + 400px)) {
	.pictureModal-dialog {min-width: 95vw; max-width: 95vw;}
	.pictureModal-picture {width: 80vh; max-height: 80vh;}
	.pictureModal-content {width: calc(100% - 80vh); max-height: 80vh;}
	.pictureModal-comments {max-height: calc(80vh - 13em);}
}
.commentModal-title {display: flex; align-items: center;}
.commentModal-timestamp {color: var(--color-font-grey-dark); padding: 0;margin: 0; font-size: 0.8em;}
.commentModal-commentContent {color: var(--color-font-grey-light); font-size: 1em; white-space: pre-wrap;}
.commentModal-commentator {color: white; font-size: 1em; margin: 0;}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle-right {border-bottom-right-radius: 50%; border-top-right-radius: 50%}
.circle-left {border-bottom-left-radius: 50%; border-top-left-radius: 50%}
.circle-bottom {border-bottom-left-radius: 50%; border-bottom-right-radius: 50%}
.circle-top {border-top-left-radius: 50%; border-top-right-radius: 50%}
.circle {border-radius: 50%;}
.btn-close {width: 1em; height: 1em; font-size: 2em;}
/*
	IMAGES
*/
img.size-30 {width: 30px; height: 30px;}
img.size-60 {width: 60px; height: 60px;}
img.size-100 {width: 100px; height: 100px;}
img.size-150 {width: 150px; height: 150px;}
img.size-200 {width: 200px; height: 200px;}
img.size-300 {width: 300px; height: 300px;}
img.size-400 {width: 400px; height: 400px;}
img.size-500 {width: 500px; height: 500px;}
.size-thumbnail {box-sizing: border-box; border: 2px solid var(--color-font-grey-normal);}
@media (max-width: 600px) {img.size-thumbnail {width: 100%; min-height: 100vw;}}
@media (min-width: 610px) {img.size-thumbnail {width: 300px; height: 300px;}}
@media (min-width: 1200px) {img.size-thumbnail {width: 400px; height: 400px;}}

img.profile-image {
	width: 225px;
	height: 225px;
	object-fit: cover;
}
img.flip {transform: scaleX(-1);}
/*
	FORMS
*/
.form-title {
	color: var(--color-font-grey-light);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.form-label {
	display: block;
	color: var(--color-font-grey-normal);
	margin-bottom: 5px;
	font-size: 18px;
}
.form-input, .form-button {
	width: 100%;
	height: 45px;
	background: var(--color-background);
	border: none;
	outline: none;
	border-radius: 40px;
	font-size: 18px;
	color: var(--color-font-blue-light);
}
.form-input {box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1), inset 2px 2px 6px rgba(0,0,0,0.8);}
.form-input:focus{
	background: var(--color-background);
	color: var(--color-font-blue-light);
}
.form-button {box-shadow: -2px -2px 6px rgba(255,255,255,0.1), 2px 2px 6px rgba(0,0,0,0.8);}
.form-button:hover, .form-input:hover, .form-input:focus {filter: brightness(150%);}
.form-input::placeholder {
	color: var(--color-font-grey-dark);
	font-size: 18px;
}

.list-user-picture {
	width: calc(33.33% - 1rem);
	object-fit: cover;
}
.list-user-info {
	width: calc(66.66% - 2rem);
	object-fit: cover;
}

/*
	BUTTONS
 */
.btn-outline-green {
	color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-outline-green:hover {
	color: var(--color-background);
	background-color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-outline-green:focus, .btn-outline-green.focus {box-shadow: 0 0 0 0.2rem var(--color-font-green-darkRGBA);}
.btn-outline-green.disabled, .btn-outline-green:disabled {
	color: var(--color-font-green-light);
	background-color: transparent;
}
.btn-outline-green:not(:disabled):not(.disabled):active, .btn-outline-green:not(:disabled):not(.disabled).active,
.show > .btn-outline-green.dropdown-toggle {
	color: var(--color-background);
	background-color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-outline-green:not(:disabled):not(.disabled):active:focus, .btn-outline-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-green.dropdown-toggle:focus {box-shadow: 0 0 0 0.2rem var(--color-font-green-darkRGBA);}
.btn-green {
	color: #fff;
	background-color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-green:hover {
	color: #fff;
	background-color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-green:focus, .btn-green.focus {box-shadow: 0 0 0 0.2rem var(--color-font-green-darkRGBA);}
.btn-green.disabled, .btn-green:disabled {
	color: #fff;
	background-color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
	color: #fff;
	background-color: var(--color-font-green-light);
	border-color: var(--color-font-green-light);
}
.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {box-shadow: 0 0 0 0.2rem var(--color-font-green-darkRGBA);}
/*
	FUNCTIONS
*/
.thumbnail-clickable {
	object-fit: cover;
}