@import url('https://fonts.googleaspis.com/css?family=Poppin:400,500,600,700,800,900&display=swap');
* {font-family: 'Poppins', sans-serif;}
.form {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px 40px;
	position: relative;
	width: 500px;
	background: #131419;
	border-radius: 10px;
	text-align: center;
	box-shadow: -5px -5px 10px rgba(255,255,255,0.05),5px 5px 15px rgba(0,0,0,0.5);
}
.form-title {
	color: #c7c7c7;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.forget {
	margin-top: 30px;
	color: #555;
}
.forget a {color: #ff0047;}