.form {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px 40px;
	position: relative;
	width: 500px;
	border-radius: 10px;
	text-align: center;
	box-shadow: -5px -5px 10px rgba(255,255,255,0.05),5px 5px 15px rgba(0,0,0,0.5);
	filter: brightness(130%);
}