@(name: String, label: String, placeHolder: String, form: Form.Field, value: String = null, isRequired: Boolean = false, breakPoint: String = null)
<div class='form-group mt-2 @if(breakPoint!=null) {@breakPoint}' id='@{name + "Holder"}'>
	<label for='@name' class="form-label">@label</label>
	<input type="password" id='@name' name='@name' class="form-control form-input @if(form.hasErrors) {border-danger}" placeholder='@if(placeHolder!=null) {@placeHolder}' value='@if(value!=null) {@value} else {@form.value.orElse("")}' @if(isRequired){required}>
	@for(error: play.data.validation.ValidationError <- form.errors){<span class="text-danger">@error.toString</span>}
</div>