@import java.time.LocalDateTime
@import models.relationships.Follows
@(user:User)(implicit request: play.mvc.Http.Request)

@layouts.main("Home") { }{
	@for(mapFollowee: (LocalDateTime, Follows) <- MappingController.mapFollowedUsers(user)) {
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-auto">
					@layouts.formFields.pictureBox(mapFollowee._2.getFollowee.getProfilePicture, "size-300")
				</div>
				<div class="col-auto">
					<div class="card-body">
						<h5 class="card-title">@mapFollowee._2.getFollowee.getUserName</h5>
						@for(mapFolloweePictures: (LocalDateTime, Picture) <- MappingController.mapVisiblePictures(user, mapFollowee._2.getFollowee)) {
							@if(mapFolloweePictures._2.getUploadTime.isAfter(mapFollowee._2.getLastProfileView)) {
								@layouts.formFields.pictureBox(mapFolloweePictures._2, "size-150");
							}
						}
					</div>
				</div>
			</div>
		</div>
	}
}