@import java.time.LocalDateTime
@import models.relationships.Follows
@import models.relationships.Friends
@(user: User, target: User, profile: UserProfile)(implicit form: DynamicForm, request: play.mvc.Http.Request)
@if(profile == null){
    @layouts.main("Profile") { }{<div class="alert alert-danger" role="alert">An error has occurred, please try again.</div>}
} else {
    @layouts.main("Profile") { <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/profilePage.css")'>}{
        <header>
            <div class="container-fluid">
                <div class="profile">
                    <div class="profile-image">
                        @layouts.formFields.pictureBox(target.getProfilePicture, "size-300")
                    </div>
                    <div class="profile-user-settings">
                        <h1 class="profile-user-name">@target.getUserName</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User Options
                            </button>
                            <div class="dropdown-menu">
                                @if(user.equals(target)){
                                    <a class="dropdown-item whiteText" href='@routes.UserController.editProfilePage'>Edit Profile</a>
                                } else {
                                    @defining(Friends.findRequest(user,target)) {friends =>
                                        @if(Follows.find.byId(user.getUserId + ";" + target.getUserId) == null){
                                            <a class="dropdown-item whiteText" href='@routes.UserController.followUser(target.getUserId)'>Follow User</a>
                                        } else {
                                            @if(friends==null || !friends.getRequestStatus.equals(Friends.RequestStatus.ACCEPTED)) {<a class="dropdown-item whiteText" href='@routes.UserController.unfollowUser(target.getUserId)'>Unfollow User</a>}
                                        }
                                        @if(friends==null) {
                                            <a class="dropdown-item whiteText" href='@routes.UserController.friendRequestAction(target.getUserId)'>Send a Friend Request</a>
                                        } else {
                                            @friends.getRequestStatus match {
                                                case Friends.RequestStatus.PENDING => {
                                                    @if(friends.getFriendRequester.equals(user)) {
                                                        <a class="dropdown-item whiteText" href='@routes.UserController.unfriendRequestAction(target.getUserId)'>Cancel Friend Request</a>
                                                    } else {
                                                        <a class="dropdown-item whiteText" href='@routes.UserController.friendRequestAction(target.getUserId)'>Accept Friend Request</a>
                                                        <a class="dropdown-item whiteText" href='@routes.UserController.unfriendRequestAction(target.getUserId)'>Refuse Friend Request</a>
                                                    }
                                                }
                                                case Friends.RequestStatus.ACCEPTED => {
                                                    <a class="dropdown-item whiteText" href='@routes.UserController.unfriendRequestAction(target.getUserId)'>Unfriend User</a>
                                                }
                                                case Friends.RequestStatus.DENIED => {
                                                    @if(friends.getFriendReceiver.equals(user)) {<a class="dropdown-item whiteText" href='@routes.UserController.friendRequestAction(target.getUserId)'>Accept Friend Request</a>}
                                                }
                                                case Friends.RequestStatus.UNFRIENDEDBYRECEIVER => {
                                                    @if(friends.getFriendReceiver.equals(user)) {<a class="dropdown-item whiteText" href='@routes.UserController.friendRequestAction(target.getUserId)'>Become Friends Again</a>}
                                                }
                                                case Friends.RequestStatus.UNFRIENDEDBYREQUESTER => {
                                                    @if(friends.getFriendRequester.equals(user)) {<a class="dropdown-item whiteText" href='@routes.UserController.friendRequestAction(target.getUserId)'>Become Friends Again</a>}
                                                }
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="profile-stats d-flex">
                        <ul class="list-inline mx-auto justify-content-center" style="width:100%">
                            <li><span class="profile-stats-count list-inline-item">@target.getPictureAmount</span> posts</li>
                            <li><span class="profile-stats-count list-inline-item">@target.getFollowerAmount</span> followers</li>
                            <li><span class="profile-stats-count list-inline-item">@target.getFollowingAmount</span> following</li>
                        </ul>
                    </div>
                    <div class="profile-bio">
                        <p><span class="profile-real-name">@if(profile.getFirstName != null && profile.getLastName !=null){target.getUserProfile.getfirstName target.getUserProfile.getlastName}</span>
                            @if(profile.getUserBio == null){ @target.getUserName is too lazy to write a bio} else { @profile.getUserBio}</p>
                    </div>
                </div>
                    <!--  END OF PROFILE SETTINGS   -->
            </div>
                <!--  END OF CONTAINER  -->
        </header>
        <div class="row center profile_container">

        @for(map:(LocalDateTime, Picture) <- controllers.MappingController.mapVisiblePictures(user , target)){
            <div class="gallery-item profile_images" tabindex="0" style="flex: 0 0 auto">
                @layouts.formFields.pictureBox(map._2)
                <div class="thumbnail-clickable gallery-item-info" data-selected='@map._2.getPictureId'>
                    <ul>

                         <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden></i> @map._2.getPictureLikes</li>

                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"></i> @map._2.getPictureComments</li>
                    </ul>
                </div>
            </div>
        }

        </div>
    }
}

























