@import models.relationships.Friends
@(user: User)(implicit form: DynamicForm, request: play.mvc.Http.Request)

@layouts.main("Social") {<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/navSocial.css")'>
<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/navUser.css")'>}{
	@defining(MappingController.mapSocialFeed(user)) { mapSocialFeed =>
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="true">Browse Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-friends" role="tab" aria-controls="pills-home" aria-selected="false">Friends List<span class="badge badge-light ml-2">@mapSocialFeed.second.size()</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-sent" role="tab" aria-controls="pills-profile" aria-selected="false">Friend Requests Sent<span class="badge badge-light mr-2 ml-2">@mapSocialFeed.third.first.first.size()</span><span class="badge badge-dark">@mapSocialFeed.third.first.second.size()</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-received" role="tab" aria-controls="pills-contact" aria-selected="false">Friend Requests Received<span class="badge badge-light mr-2 ml-2">@mapSocialFeed.third.second.first.size()</span><span class="badge badge-dark">@mapSocialFeed.third.second.second.size()</span></a>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
			@for(map: (String, MappingController.Triplet[User, UserProfile, java.lang.Boolean]) <- mapSocialFeed.first){
				@layouts.contentBox.userCard(map._2.first, map._2.second, map._2.third)
			}
			</div>
			<div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-home-tab">
			@if(mapSocialFeed.second.size()==0) {<h4>You don't have any friends yet</h4>}
			@for(map: (String, MappingController.Triplet[User, UserProfile, Friends]) <- mapSocialFeed.second){
				@layouts.contentBox.userCard(map._2.first, map._2.second, true)
			}
			</div>
			<div class="tab-pane fade" id="pills-sent" role="tabpanel" aria-labelledby="pills-profile-tab">
				<h2>Pending</h2>@if(mapSocialFeed.third.first.first.size()==0) {<h4>No requests pending</h4>}
				@for(map: (String, MappingController.Triplet[User, UserProfile, Friends]) <- mapSocialFeed.third.first.first) {
					@layouts.contentBox.userCard(map._2.first, map._2.second, true)
				}
				@if(mapSocialFeed.third.first.second.size()>0) {
					<br><h2>Denied</h2>
					@for(map: (String, MappingController.Triplet[User, UserProfile, Friends]) <- mapSocialFeed.third.first.second){
						@layouts.contentBox.userCard(map._2.first, map._2.second, true)
					}
				}
			</div>
			<div class="tab-pane fade" id="pills-received" role="tabpanel" aria-labelledby="pills-contact-tab">
				<h2>Pending</h2>@if(mapSocialFeed.third.second.first.size()==0) {<h4>No requests pending</h4>}
				@for(map: (String, MappingController.Triplet[User, UserProfile, Friends]) <- mapSocialFeed.third.second.first) {
					@layouts.contentBox.userCard(map._2.first, map._2.second, true)
				}
				@if(mapSocialFeed.third.second.second.size()>0) {
					<br><h2>Denied</h2>
					@for(map: (String, MappingController.Triplet[User, UserProfile, Friends]) <- mapSocialFeed.third.second.second){
						@layouts.contentBox.userCard(map._2.first, map._2.second, true)
					}
				}
			</div>
		}
	</div>
}
