@(title: String)(atHead: Html)(atBody: Html)(implicit form: DynamicForm, request: play.mvc.Http.Request)
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<link rel="icon" href='@routes.Assets.at("images/ETLogo.png")'>
		<title>@title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("libraries/bootstrap/4.4.1/css/bootstrap.min.css")'>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("libraries/fontawesome/5.12.1/css/all.min.css")'>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'>
		<script src='@routes.Assets.at("libraries/jquery/3.4.1.min.js")'></script>
		<script src='@routes.Assets.at("libraries/popper/popper.min.js")'></script>
		<script src='@routes.Assets.at("libraries/popper/tooltip.min.js")'></script>
		<script src='@routes.Assets.at("libraries/bootstrap/4.4.1/js/bootstrap.bundle.min.js")'></script>
		<script src='@routes.Assets.at("libraries/fontawesome/5.12.1/js/all.min.js")'></script>
		<script src='@routes.Assets.at("javascripts/main.js")' defer></script> @atHead
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#"><img src='@routes.Assets.at("images/ETLogo.png")' class="d-inline-block align-top size-30" alt=""><span class="pl-2">Eternagram</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item @if(title.equals("Home")){active}"><a class="nav-link" href="@routes.ViewsController.index()">Home</a></li>
					<li class="nav-item @if(title.equals("Profile")){active}"><a class="nav-link" href="@routes.ViewsController.userSelfProfile()">Profile</a></li>
					<li class="nav-item @if(title.equals("Upload an image")){active}"><a class="nav-link" href="#" data-toggle="modal" data-target="#pictureUploadModal">Upload</a></li>
					<li class="nav-item @if(title.equals("Users")){active}"><a class="nav-link" href="@routes.ViewsController.userList">Users</a></li>
					<li class="nav-item"><a class="nav-link" href='@routes.UserController.logOut()'>Logout</a></li>
				</ul>
				@* This will be the search bar that we'll use when searching for a specific user *@
				<form class="form-inline" action="">
					<div class="input-group ml-lg-2">
						<input type="search" class="form-control" placeholder="User lookup" aria-label="User lookup" aria-describedby="userSearchSubmit">
						<div class="input-group-append">
							<button class="btn btn-danger" type="submit" id="userSearchSubmit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</nav>
		<div class="pt-5 pb-2"></div>@* This is a spacer to stop the navbar from hiding the content *@
		@if(!request.flash.data.isEmpty) {
			<section id="alert-panel" class="row">
				@if(request.flash.get("error").isPresent) {<div class="alert alert-danger col-12" role="alert">@request.flash.get("error").get</div>}
				@if(request.flash.get("success").isPresent) {<div class="alert alert-success col-12" role="alert">@request.flash.get("success").get</div>}
				@if(request.flash.get("warning").isPresent) {<div class="alert alert-warning col-12" role="alert">@request.flash.get("warning").get</div>}
			</section>
		} <noscript><div class="alert alert-danger" role="alert">JavaScript is currently not active or not supported by your browser!</div></noscript>
		@* Modal used by user to upload a new picture *@
		<div class="modal fade" id="pictureUploadModal" tabindex="-1" role="dialog" aria-labelledby="pictureUploadModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content m-4 p-4">
					<div class="modal-title center">
						<h2 class="form-title text-center">Upload a picture</h2>
					</div>
					<div class="modal-body">
						<form action='@routes.PictureController.newPictureAction()' method="post" enctype="multipart/form-data" class="form">
							<fieldset hidden>@helper.CSRF.formField</fieldset>
							<fieldset class="text-left">
								@layouts.formFields.textBox("pictureCaption", "Title", null, form("pictureCaption"), true)
								@layouts.formFields.fileBox("file", "Picture to upload", form("file"), "image/*")
								<input type="submit" class="form-button mt-4" value="Upload">
								<button class="form-button mt-4" data-dismiss="modal"><span class="text-danger">Cancel</span></button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary" id="pictureModalDisplay" data-toggle="modal" data-target="#pictureModal" hidden></button>
		<div id="pictureModalLoader" class="row"></div>
		<main role="main" class="container-fluid"> @atBody </main>
	</body>
	<script>
					$(function() {
						var $pictureModal = $("#pictureModalLoader");
						var $pictureModalBtn = $("#pictureModalDisplay");
						$(".thumbnail-clickable").click(function () {
							var value = $(this).data('selected');
							$pictureModal.load('@routes.ViewsController.index()' + "picture/view/" + value, function(){$pictureModalBtn.click();});
						});
					});
	</script>
</html>