@import java.time.LocalDateTime
@(picture: Picture, user: User)(implicit form: DynamicForm, request: play.mvc.Http.Request)
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="pictureModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered pictureModal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="pictureModalTitle">@picture.getPictureCaption @if(picture.getPictureOwner.equals(user)) {<a href='@routes.UserController.setProfilePicture(picture.getPictureId)' class="btn btn-danger ml-3">Set as Profile Picture</a>}</h5>
				<button type="button" class="btn btn-outline-danger circle btn-close center" data-dismiss="modal" aria-label="Close">
					<i class="fas fa-times-circle"></i>
				</button>
			</div>
			<div class="modal-body pt-0">
				<div class="card pictureModal-card">
					<div class="row no-gutters center">
						<div class="pictureModal-picture">
							<img src="@routes.PictureController.getPicture(picture.getPictureId, isFullSize = true)" class="card-img pictureModal-picture" alt="Error loading">
						</div>
						<div class="pictureModal-content">
							<div class="card-body pictureModal-comments overflow-auto" id="pictureModalComments"></div>
							<div>
								<form action='@routes.PictureController.newCommentAction(picture.getPictureId)' method="post" class="pictureModal-newComment" id="submitComment">
									<fieldset hidden>@helper.CSRF.formField</fieldset>
									<fieldset class="text-left">
										@layouts.formFields.textArea("commentContent", "New comment", 3, 250, form("commentContent"), isRequired = true, "mb-1 pb-1")
										<input id='submitButton' type="button" class="form-button mt-0" value="Upload">
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		var $pictureModalComments = $("#pictureModalComments");
		var $form = $('#submitComment');
		$("#submitButton").click(function (e) {
			var data = $form.serialize();
			e.preventDefault();
			e.stopPropagation();
			$.ajax({
				type: "POST",
				url: '@routes.PictureController.newCommentAction(picture.getPictureId)' ,
				data : data,
				success: function () {
					$pictureModalComments.load('@routes.PictureController.getPictureComments(picture.getPictureId)');
					$pictureModalComments.stop().animate({
						scrollTop: $pictureModalComments[0].scrollHeight
					}, 800);
					$form[0].reset();
				}
			});
		});
		$pictureModalComments.load('@routes.PictureController.getPictureComments(picture.getPictureId)');
	});
</script>